/.classpath
/.gradle
/gradlew.bat
/.metadata
/.project
/.settings

/CREDITS-fml.txt
/eula.txt
/forge-1.7.10-10.13.4.1614-1.7.10-changelog.txt
/LICENSE-fml.txt
/MinecraftForge-Credits.txt
/MinecraftForge-License.txt
/options.txt
/README.txt
/server.properties
/usernamecache.json


/asm
/bin
/build
/config
/crash-reports
/eclipse
/Forge
/gradlew
/lib
/logs
/mods
/resourcepacks
/saves
